<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicea.mapper.BankMapper">
  <resultMap id="BaseResultMap" type="com.example.common.model.Bank">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="rrd_code" jdbcType="VARCHAR" property="rrdCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
</mapper>